@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#000;overflow-y:scoll;overflow:-moz-scrollbars-vertical; font-family:"宋体"}
body{min-width:1024px;}
body,button,input,select,textarea{font-size:12px;font-family:arial,\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
legend{color:#000}
img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic}
textarea{resize:vertical}
.left{float:left}
.right{float:right}
.overflow{overflow:hidden}
.hide{display:none}
.block{display:block}
.inline{display:inline}
.error{color:#F00;font-size:12px}
label,button{cursor:pointer}
.clearfix{zoom:1}
.clearfix:after{visibility:hidden;content:'';display:block;clear:both;font-size:0;height:0}
/*header_all*/
#header_all{width:100%;height:35px;background:#f2f2f2;border-bottom:1px solid #c2c4c3;border-top:1px solid #e0e0e0;}
.header{width:1003px;margin:0 auto;line-height:20px;height:20px;padding:10px 0;}
.header a{color:#7a7a7a}
.header .header_left{line-height:16px;}
.header_left span{float:left;padding-right:10px;}
.header_left a{float:left;}
.header_homepic{background:url(../images/homepic.jpg) no-repeat;padding:0 10px 0 19px;}
.header_register{border-right:1px solid #7a7a7a;padding-right:10px;}
.header_entry{padding-left:8px;}
.header_right{}
.header_right a{float:left;}
.header_right span{float:left;color:#7a7a7a}
.header_assnpic{background:url(../images/assnpic.jpg) no-repeat;padding-left:22px;padding-right:10px;border-right:1px solid #7a7a7a;}
.header_vip{ background:url(../images/et.jpg) no-repeat;padding-left:24px;text-decoration:underline;margin-right:20px}
.header_telephone{background:url(../images/telephone.jpg) left 2px no-repeat;padding-left:24px;margin-right:20px}
.header_qq{background:url(../images/qq.jpg) no-repeat;padding-left:24px;}
/*containe*/
#containe{width:100%;background:#fff;padding-top:15px;max-width:1600px; margin:0 auto;}
.content{width:1003px;margin:0 auto;}
.content_header_logo{float:left;width:225px;}
.content_header_search{float:left;padding-left:28px;width:570px;}
.content_header_log{float:right;}
.sjselect_left{float:left;width:475px;border:1px solid #c2c4c3;height:36px;line-height:36px;border-right:none}
.sjselect{width:42px;float:left;padding-left:10px; font-size:12px;background:#f2f2f2 url(../images/xs.jpg) 36px center no-repeat;}
.j_pptxt{width:416px;border:none;_border:0;height:36px;line-height:36px;padding-left:6px;float:left;}
.sub{float:left;width:94px;height:38px;line-height:38px;font-size:16px; font-family:"微软雅黑";color:#fff;background:#e73535;border:none; cursor:pointer}
.sjselect_bottom{height:15px;padding-top:3px}
.sjselect_bottom a,.sjselect_bottom span{display:inline-block}
.sjselect_bottom span{color:#000}
.sjselect_bottom a{color:#7a7a7a;padding:0 8px;}
/*footer*/
#footer_all{height:35px;background:#333;}
.footer{width:933px;margin:0 auto;line-height:15px;height:15px;padding:10px 0 10px 70px;_width:950px;_padding:10px 0;text-align: center}
.footer a{color:#FFF; font-size:12px; float:left;padding:0 11px;*padding:0 8px 0 9px;border-right:1px solid #616161;}
.footer .none{border:none}

